html {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    display: flex;
    gap: 0.2rem;
    height: 100vh;
    background-color: #debaba;
    color: #261818;
    overflow: hidden;
}

main {
    overflow: auto;
}

#navbar header {
    text-align: center;
    text-decoration: underline;
}

#navbar {
    width: 30%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    overflow: auto;
}

#navbar ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style-type: none;
    padding-left: 0;
}

#navbar ul li a {
    display: block;
    color: #783a3a;
    text-decoration: none;
    text-shadow: 0.2px 0 1px #452121;
    border-radius: 2px;
    padding: 2px;
}

#navbar ul li a:hover {
    background-color: #452121;
    color: #d9d9d9;
    border: none;
    box-shadow: 0 0 16px 3px #452121;
}

@media (max-width: 500px{
    body {
        display: flex;
        flex-direction: column;
    }

    #navbar {
        flex-direction: row;
        width: 100%;
        height: 20%;
        min-height: 90px;
        font-size: 0.7rem;
        gap: 0.1rem;
        overflow: auto;
        min-width: 0;
        border-bottom: 1px solid #452121;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 0.1rem;
        padding: 0;
    }

    img {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    #navbar header {
        text-align: center;
        text-decoration: underline;
        font-size: 1rem;
    }

    #navbar ul li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #navbar ul li a {
        border: 1px solid #1a1a1a;
    }
}

@media (prefers-reduced-motion: no-preference{
    * {
        scroll-behavior: smooth;
    }
}

#main-doc header {
    margin-top: 1rem;
    text-align: left;
    margin-left: 2rem;
    letter-spacing: 0.1rem;
}

header {
    font-size: 1.5rem;
    font-weight: 600;
}

.subheader {
    font-size: 1.2rem;
    font-style: italic;
}

p {
    margin-left: 1rem;
}

.main-section {
    margin-right: 0.5rem;
}

#main-doc ul {
    margin-left: 1rem;
    margin-top: -0.5rem;
}

#main-doc ul li {
    margin: 0.5rem 0;
}

pre {
    margin-left: 2rem;
    background-color: #1a1a1a;
    color: #debaba;
    border-radius: 4px;
    min-width: 200px;
    width: 20vw;
    padding: 10px;
    font-size: 0.8rem;
}

.main-section ul li a {
    color: #452121;
    text-decoration: underline;
}

.main-section ul li a:hover {
    background-color: #452121;
    color: #d9d9d9;
    border: none;
    border-radius: 2px;
    padding: 2px;
}

code:not(body pre code{
    border: 1px solid #1a1a1a;
    background-color: #452121;
    border-radius: 4px;
    color: #d9d9d9;
    font-size: 0.9rem;
}

#scotch {
    width: 80%;
    max-width: 150px;
    border: 4px solid #452121;
}
